uid = dave
gid = staff
use chroot = no
max connections = 4
log file = /tmp/rsyncd.log
pid file = /tmp/rsyncd.pid

[ETK_REPO]
    path = /Users/dave/etk
    comment = ETK Project Master Repository
    read only = yes
    list = yes

[VAULT]
    path = /Users/dave/etk/vault
    comment = GT5P Golden Shader Cache
    read only = no
    list = yes